/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* VARIABLES*/
:root {
  /*COLORS:*/
  /* primary */
  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-vdd-blue: hsl(229, 23%, 23%);
  --clr-dgrayish-blue: hsl(227, 10%, 46%);
  --clr-desaturated-dgrayish-blue: hsla(227, 10%, 46%, 0.596);
  /*neutral*/
  --clr-darkGrey: hsl(0, 0, 59%);
  /*FONTS*/
  --ff-kumbh: 'Kumbh Sans', sans-serif;
}
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-kumbh);
  font-size: 18px;
  background-color: var(--clr-dark-cyan);
  padding: 10px;
  gap: 10px;
  position: relative;
  overflow: hidden;
}
body::before {
  background-image: url(./images/bg-pattern-bottom.svg);
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  transform: rotate(30deg);
}
.main-container {
  max-width: 350px;
  background-color: #fff;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  color: var(--clr-vdd-blue);
}
.topBg {
  background-image: url(./images/bg-pattern-card.svg);
  height: 140px;
}
.profilePhoto {
  height: 100px;
  width: 100px;
  background-image: url(./images/image-victor.jpg);
  border-radius: 50%;
  border: 5px solid #fff;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 90px;
  left: calc(50% - 50px);
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px 40px;
  text-align: center;
  line-height: 1.5rem;
}
.profile {
  font-weight: 400;
}
.profile .name {
  font-weight: 700;
}
.profile .city {
  margin-top: 5px;
  font-size: 0.9rem;
  color: var(--clr-dgrayish-blue);
}
.name .year {
  color: var(--clr-dgrayish-blue);
  font-weight: 400;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 20px 60px;
  border-top: 1px solid var(--clr-desaturated-dgrayish-blue);
  font-weight: 700;
  text-align: center;
}
.count {
  margin-left: 55px;
}
.stats :nth-child(1) {
  margin-left: 0;
}
.dscrp {
  margin-top: 5px;
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--clr-dgrayish-blue);
}
